/web/bundles/*
/web/css/*
/web/js/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/*
/vendor/*
/bin/*
/composer.phar
.DS_Store
/recipe.sublime-project
/recipe.sublime-workspace
.vagrant
.idea
/web/.htaccess
