<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Ką gaminsime šiandien?</h1>
    <br>
    <div class="input-group">
      <div class="host" tabindex="-1" ti-transclude-append>
        <div class="tags" ng-class="{focused: hasFocus}">
          <input class="input"
          ng-model="newTag.text"
          ng-change="newTagChange()"
          ng-trim="false"
          ng-class="{'invalid-tag': newTag.invalid}"
          ti-bind-attrs="{type: options.type, placeholder: options.placeholder, tabindex: options.tabindex}"
          ti-autosize>
          </div> <!-- tags -->
        </div>
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      </div>
    </div>
  </div>
  <div id="jumbo-bottom">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="tags tags-bottom-list">
          <ul class="tag-list">
            <li class="tag-item" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }">
              <span ng-bind="getDisplayText(tag)"></span>
              <a class="remove-button" ng-click="tagList.remove($index)" ng-bind="options.removeTagSymbol"></a>
            </li>
          </ul>
          </div> <!-- tags -->
        </div>
      </div>
    </div>