{% extends "::base.html.twig" %}

{% block title %}RecipeBundle:AddRecipe:new{% endblock %}

{% block body %}
    <div class="container" role="main">
        <h4>new_recipe</h4>
    </div>
{% endblock %}
