<div class="row recipe">
  <div class="col-md-12">
    <div class="error">
      <p ng-repeat="error in errors">{{error.message}}</p>
    </div>
    <div class="modal-header">
      <button ng-click="$close()" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h3 class="modal-title">{{r.recipe.name}}</h3>
      <div ng-controller="RatingCtrl">
        <rating class="rating" ng-style="success" ng-model="rate" max="max" state-on="'glyphicon-star star-full'" state-off="'glyphicon-star star-empty'" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="setRating(r.recipe.id)"></rating>
      </div>
      <div class="fb-like" data-href="{{absurl}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
    <div class="modal-body">
      <div class="thumbnail" style="display: inline-block">
        <img ng-cloak ng-src="/{{r.recipe.image}}">
      </div>
      <h4>Ingredientai</h4>
      <div class="ingredients">
        <ul>
          <li ng-repeat="ingredient in r.recipe.ingredients">
            {{ingredient.name}} ({{ingredient.quantity}} {{ingredient.unit}})
          </li>
        </ul>
      </div>
      <hr>
      <h4>Gaminimo eiga</h4>
      <div class="instructions">
        {{r.recipe.instructions}}
      </div>
      
      <div class="modal-footer">
        <div class="fb-comments" data-href="{{absurl}}" data-numposts="10" data-colorscheme="light" data-width="100%" id="commentbox"></div>
      </div>
    </div>
  </div>
</div>