{% extends '::base.html.twig' %}
 {% block body %}
    <script type="text/javascript">
      $(document).ready(function() {
          $("#search-ingredient").tokenInput("{{ path('search_ingredient') }}", {
            preventDuplicates: true 
          });
      });
    </script>
      <!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="row">
         <div class="col-sm-4">
             <div class="panel panel-default">
                 <div class="panel-heading">Mano ingridientai</div>
                 <div class="panel-body">
                  <ul></ul>

                 </div>
             </div>
         </div>
         <div class="col-sm-8">
             <form class="form-horizontal" role="form">
                         <div class="input-group">
                             <input class="form-control" type="text" id="search-ingredient" name="ingredients[]">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
                         </div>
             </form>
         </div>
     </div>
 {% endblock %}
