{% extends '::base.html.twig' %}
 {% block body %}
    <script type="text/javascript">
      $(document).ready(function() {
          $("#search-ingredient").tokenInput("{{ path('search_ingredient') }}", {
            theme: "facebook" 
          });
      });
    </script>
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <form class="form-horizontal" role="form">
          <div class="form-group form-group-lg">
            <div class="col-sm-12">
              <div class="form-group">
              <div class="input-group">
                <input class="" type="text" id="search-ingredient" name="ingredients[]">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            </div>  
            </div>          
          </div>
        </form>
      </div>
 {% endblock %}
