body{
    background:#efefeb;
    margin:0px;
    padding:0px;
    font-family:'Open sans', sans-serif;
}

div.recipe-box{
    background:white;
    padding:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

div.recipe-invis{
    margin:0px 0px 20px 0px;
    box-shadow: 0px 0px 0px 2px rgba(228, 228, 226, 0.392);
    border-radius:5px;
}

div.recipe-box h4 a{
    font-size:1em;
    font-weight:600;
}

div.recipe-box, div.ingredient_block, div.recipe-invis{
     max-width:300px;
}

/* navbar */
.navbar-default {
    background-color: white;
    border:none;
    margin-bottom:0px;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #0192b5;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

div.jumbotron {
    background:url('../img/header3.jpg') no-repeat center;
    height:350px;
    position:relative;
    background-size:cover;
}

.ti-input-lg{
    text-align:left;
    color:black;
}

div.jumbotron h4{
    color:white;
    text-align: center;
}

div.jumbotron h1{
    font-size:42px;
    color:white;
    text-align: center;
}

div.ingredient_block{
    background:#fbfbf8;
    margin-top:0px;
    border-top:1px solid #dddddd;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    color:gray;

}

/* User rating */
div.rating-box p{
    float:left;
    margin-left:10px;
    color:gray;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.rating{
    outline:0;
    color:#f1c40f;
    font-size:17px;
    float:left;
}

span.input-group-addon{
    background:#0192b5;
    color:white;
    border:none;
    border-top-right-radius:5px;
    border-bottom-right--radius:5px;
}

@media (max-width: 480px) { 
   .col-xxs {
      display:block;
      float:none;
      width: 100%
   }
}

div.tag-sidebar{
    background:none;
    padding:0px;
}

div.tag-sidebar > a{
    background:none;
}

.star-full{
    color:#f1c40f;
}

.star-empty{
    color:#e2e6e7;
}
.fb-comments, .fb-comments span, .fb-comments iframe { 
    width: 100% !important; 
}

/* Sidebar */
#sidebar{
    position:fixed;
    z-index:99999;
    top:30%;
    left:0px;
    height:70%;
    pointer-events:none;
}

#sidebar-content h4{
    color:gray;
    font-weight:normal;
    text-align: center;
}

#sidebar-button{
    display:block;
    text-align:center;
    background:#0192b5;
    padding:6px;
    float:left;
    cursor:pointer;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    font-size:18px;
    color:white;
    pointer-events:auto;
}

#sidebar-content{
    display:none;
    float:left;
    background:white;
    max-width:320px;
    height:100%;
    pointer-events:auto;
    overflow:hidden;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.62);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.62);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.62);
    
}

#sidebar-content .tags{
    height:100%
}

#sidebar-content .tags .tag-list{
   
    display:block;
    overflow:hidden;
    overflow-y:auto;
    height:100%;
    width:200px;
    
}

#sidebar-content .tags .tag-list .tag-item
{
    display:block;
    background:#0192b5;
    color:white;
}

#sidebar-content .tags .tag-list .tag-item a{
    color:white;
}

